<div class="detail-content">
  <section class="detail-content__head">
    <div class="detail-content__head__image">
      <img id="restaurant-image" src="../../public/images/restaurant-placeholder.jpg" width="807" height="540" alt="restaurant-image" />
    </div>
    <div class="detail-content__head__info">
      <div class="detail-content__head__info__rating">
        <img src="../../public/images/star.png" alt="" />
        <span id="restaurant-rating">4.5 </span> Stars
      </div>
      <button class="add-fav" id="add-fav-btn-md">Add to Favorite</button>
    </div>
  </section>

  <article class="detail-content__info">
    <section>
      <p id="restaurant-description">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings of the great
        explorer of the truth, the master-builder of human happiness. No one
        rejects, dislikes, or avoids pleasure itself, because it is pleasure,
        but because those who do not know how to pursue pleasure rationally
        encounter consequences that are extremely painful. Nor again is there
        anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil
        and pain can procure him some great pleasure.
      </p>
    </section>

    <section class="detail-content__info__additional">
      <h2>Details</h2>
      <div class="detail-content__info__additional__accordion">
        <button 
          class="detail-content__info__additional__accordion__head"
          aria-expanded="false"
          aria-controls="restaurant-category"  
          id="restaurant-category-header"
        >
          Category &#x25BC;
        </button>
        <div class="detail-content__info__additional__accordion__body">
          <ul id="restaurant-category">
            <li>Bali</li>
            <li>Sop</li>
          </ul>
        </div>
      </div>

      <div class="detail-content__info__additional__accordion">
        <button 
          class="detail-content__info__additional__accordion__head"
          aria-expanded="false"
          aria-controls="restaurant-address"
          id="restaurant-address-header"
        >
          Address &#x25BC;
        </button>
        <div class="detail-content__info__additional__accordion__body">
          <p id="restaurant-address">Jl. Belimbing Timur No. 7</p>
        </div>
      </div>

      <div class="detail-content__info__additional__accordion">
        <button 
          class="detail-content__info__additional__accordion__head"
          aria-expanded="false"
          aria-controls="restaurant-foods"
          id="restaurant-foods-header"
        >
          Foods &#x25BC;
        </button>
        <div class="detail-content__info__additional__accordion__body">
          <ul id="restaurant-foods">
            <li>Kambing Jantan</li>
            <li>Babi Hutan</li>
            <li>Sam Chen</li>
            <li>Sate Goreng</li>
            <li>Kelinci Percobaan</li>
          </ul>
        </div>
      </div>

      <div class="detail-content__info__additional__accordion">
        <button 
          class="detail-content__info__additional__accordion__head"
          aria-expanded="false"
          aria-controls="restaurant-drinks"
          id="restaurant-drinks-header"
        >
          Drinks &#x25BC;
        </button>
        <div class="detail-content__info__additional__accordion__body">
          <ul id="restaurant-drinks">
            <li>Jus Jeruk</li>
            <li>Jus Jambu</li>
            <li>Air Got</li>
            <li>Jus Mineral</li>
            <li>Air Comberan</li>
            <li>Air Menarik</li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</div>

<button id="add-fav-btn" aria-label="Add to Favorite"></button>