<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restoqu provide you with informations about restaurants across Indonesia">
    <title>Restoqu - Restaurant Catalog</title>
  </head>
  <body>
    <a href="#content-wrap" id="skip-to-content">Skip to Content</a>
    <nav>
      <a href="/" id="logo" aria-label="Restoqu">
        <img src="./images/chef.png" width="96" height="96" alt="logo" />
        <span class="white-text">Restoqu</span>
      </a>

      <button
        aria-label="Hamburger Menu Button"
        id="hamburger-menu"
        class="white-text"
      >
        &#9776;
      </button>

      <ul class="mobile-menu">
        <li>
          <a href="/#/">Home</a>
        </li>

        <li>
          <a href="/#/favorites">Favorite</a>
        </li>

        <li class="about-us">
          <a href="https://darrow.xyz/" rel="noopener" target="_blank">About Us</a>
        </li>
      </ul>

      <ul class="desktop-menu">
        <li>
          <a href="/#/" class="white-text">Home</a>
        </li>

        <li>
          <a href="/#/favorites" class="white-text">Favorite</a>
        </li>

        <li class="about-us">
          <a href="https://darrow.xyz/" rel="noopener" target="_blank" class="white-text"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Content goes here -->
    <main id="content-wrap"></main>

    <!-- <footer>
      <div class="footer-top">
        <div class="footer-top__about">
          <h2>About Restoqu</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt eius aspernatur architecto magnam tenetur nemo dolorem
            dicta repellendus aut. Ducimus incidunt soluta, esse nisi dolorum
            cupiditate ea commodi neque?
          </p>
        </div>
  
        <div class="footer-top__links">
          <h2>Links</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://darrow.xyz/" target="_blank">About Us</a></li>
          </ul>
        </div>
      </div>
  
      <div class="footer-bottom">Copyright &copy; 2020 - Restoqu</div>
    </footer> -->
  </body>
</html>
