<div class="restaurant">
    <div class="restaurant__image">
    <img loading="lazy" width="405" id="image"
    src="https://via.placeholder.com/400x270.jpg?text=R" alt="Skeleton" />
    </div>

    <div class="restaurant__info">
    <div class="restaurant__info__circle">
        <div>
        <img loading="lazy"
        src="../../public/images/cooking.png.jpg" alt="" />
        </div>
    </div>

    <div class="restaurant__info__city">City</div>
    <h3>Name</h3>
    <p>
        Truncated Description
    </p>
    <div class="restaurant__info__more">
        <a href="#" aria-label="More">More</a>
        &#129348;
    </div>

    <div class="restaurant__info__rating">
        <img loading="lazy" width="50"
        src="../../public//images/star.png" alt="" />
        <span>Rating</span>
    </div>
    </div>
</div>