<div class="restaurant">
    <div class="restaurant__image">
      <img width="405" height="270" id="image" src="../../public/images/restaurant-placeholder.jpg" alt="Restaurant Name" />
    </div>

    <div class="restaurant__info">
      <div class="restaurant__info__circle">
        <div>
          <img src="../../public/images/cooking.png.jpg" alt="" />
        </div>
      </div>

      <div class="restaurant__info__city">City</div>
      <h3>Name</h3>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore minus sapiente commodi! Adipisci sequi aut molestiae facere a. At dignissimos quasi ea quidem voluptate ut repellat omnis hic. Praes
      </p>
      <div class="restaurant__info__more">
        <a href="#" aria-label="More">More</a>
        &#129348;
      </div>

      <div class="restaurant__info__rating">
        <img width="50" src="../../public//images/star.png" alt="" />
        <span>Rating</span>
      </div>
    </div>
  </div>