<section class="detail-review">
  <h2>Reviews</h2>
  <div class="detail-review__container"></div>

  <div class="detail-review__add">
    <h2>Post a Review!</h2>
    <form id="review-form" class="detail-review__add__form">
      <div class="detail-review__add__form__name-input">
        <label for="reviewer-name">Name</label> <br />
        <input type="text" id="reviewer-name"/> <br />
      </div>

      <div class="detail-review__add__form__message-input">
        <label for="review-box">Review</label>
        <textarea id="review-box" rows="10"></textarea>
      </div>
      <div class="detail-review__add__form__button">
        <button type="submit" id="add-review-btn" aria-label="Add Review">Add Review</button>
      </div>
    </form>
  </div>
</section>
