.hero {
  margin-bottom: 2rem;
  height: 100%;
  background-color: #888;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  padding: 2rem 1rem;

  .hero-content {
    &__decor {
      display: flex;
      justify-content: center;

      img {
        width: 80%;
        height: auto;

        @include sm {
          width: 50%;
        }
      }
    }

    &__heading {
      font-size: 1.4rem;
      text-align: center;
    }

    &__links {
      display: flex;
      flex-direction: column;

      #fav-link,
      #about-link {
        width: 100%;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        border-radius: 2rem;
        padding: 0.75rem 1.25rem;
        font-weight: 600;
        min-width: 44px;
        min-height: 44px;
        text-align: center;
        text-decoration: none;
        @include md {
          width: 50%;
        }
      }

      #about-link {
        border: none;
        background-color: $primary-color;
        color: white;

        &:hover {
          background: darken($color: $primary-color, $amount: 5);
          cursor: pointer;
          transition-duration: 0.3s;
        }
      }

      #fav-link {
        border: 3px solid $primary-color;
        color: $primary-color;
        background-color: transparent;
        margin-top: 0.75rem;

        &:hover {
          background: $secondary-color;
          color: white;
          border-color: $secondary-color;
          cursor: pointer;
          transition-duration: 0.3s;
        }

        @include md {
          margin-top: 0;
          margin-left: 1rem;
        }
      }

      @include md {
        flex-direction: row;
      }
    }

    @include md {
      width: 60%;
      margin: 0 auto;
    }
  }

  @include md {
    padding: 5rem 0;
  }
}

.fade {
  transition: background 0.5s linear;
}
