<footer>
    <div class="footer-top">
      <div class="footer-top__about">
        <h2>About Restoqu</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
          deserunt eius aspernatur architecto magnam tenetur nemo dolorem
          dicta repellendus aut. Ducimus incidunt soluta, esse nisi dolorum
          cupiditate ea commodi neque?
        </p>
      </div>

      <div class="footer-top__links">
        <h2>Links</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://darrow.xyz/" target="_blank">About Us</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">Copyright &copy; 2020 - Restoqu</div>
  </footer>