<a href="#content-wrap" id="skip-to-content">Skip to Content</a>
<nav>
  <a href="/" id="logo" aria-label="Restoqu">
    <img src="../../public/images/chef.png" width="96" height="96" alt="logo" />
    <span class="white-text">Restoqu</span>
  </a>

  <button
    aria-label="Hamburger Menu Button"
    id="hamburger-menu"
    class="white-text"
  >
    &#9776;
  </button>

  <ul class="mobile-menu">
    <li>
      <a href="/#/">Home</a>
    </li>

    <li>
      <a href="/#/favorites">Favorite</a>
    </li>

    <li class="about-us">
      <a href="https://bylionel.netlify.app/" rel="noopener" target="_blank"
        >About Us</a
      >
    </li>
  </ul>

  <ul class="desktop-menu">
    <li>
      <a href="/#/" class="white-text">Home</a>
    </li>

    <li>
      <a href="/#/favorites" class="white-text">Favorite</a>
    </li>

    <li class="about-us">
      <a
        href="https://darrow.xyz/"
        rel="noopener"
        target="_blank"
        class="white-text"
        >About Us</a
      >
    </li>
  </ul>
</nav>
