<section class="best-deal container">
    <h2>Best Deal</h2>
    <div class="best-deal__content">
      <div class="best-menu" style="background-color: #999">
        <div class="best-menu__info">
          <span class="best-menu__info__restaurant">Best Resto</span>
          <h3>Best Product</h3>
          <span class="best-menu__info__price">Rp. XXXXXX, 00</span>
          <span class="best-menu__info__discount">Rp. XXXXXX,00</span>
          <a href="#">Click for more info</a>
        </div>
  
        <div class="best-menu__image">
          <img loading="lazy" width="250" height="200" src="../../public/images/restaurant-placeholder.jpg" alt="skeleton" />
        </div>
      </div>

      <div class="best-menu" style="background-color: #999">
        <div class="best-menu__info">
          <span class="best-menu__info__restaurant">Best Resto</span>
          <h3>Best Product</h3>
          <span class="best-menu__info__price">Rp. XXXXXX, 00</span>
          <span class="best-menu__info__discount">Rp. XXXXXX,00</span>
          <a href="#">Click for more info</a>
        </div>
  
        <div class="best-menu__image">
          <img loading="lazy" width="250" height="200" src="../../public/images/restaurant-placeholder.jpg" alt="skeleton" />
        </div>
      </div>

      <div class="best-menu" style="background-color: #999">
        <div class="best-menu__info">
          <span class="best-menu__info__restaurant">Best Resto</span>
          <h3>Best Product</h3>
          <span class="best-menu__info__price">Rp. XXXXXX, 00</span>
          <span class="best-menu__info__discount">Rp. XXXXXX,00</span>
          <a href="#">Click for more info</a>
        </div>
  
        <div class="best-menu__image">
          <img loading="lazy" width="250" height="200" src="../../public/images/restaurant-placeholder.jpg" alt="skeleton" />
        </div>
      </div>
    </div>
  </section>