<section class="hero">
  <div class="hero-content">
    <div class="hero-content__decor">
      <img src="../../public/images/decor.png" width="370" height="230" width alt="" />
    </div>
    <h1  class="hero-content__heading">
      Restoqu provide you with informations about restaurants across Indonesia
    </h1>
    <div class="hero-content__links">
      <a href="https://darrow.xyz/" target="_blank" rel="noopener" id="about-link">About Us</a>
      <a href="/#/favorites" id="fav-link">Favorite</a>
    </div>
  </div>
</section>
