<section class="recommended container">
    <h2>Recommended</h2>
    <div class="recommended__content">
      <div class="recommended__content__scrollable">
        
        <div class="recommended-image">
          <div>
            <img
              loading="lazy"
              src="../../public/images/restaurant-placeholder.jpg"
              width="387"
              height="493"
              alt="recommended skeleton"
            />
          </div>
          <h3>Rec. Menu</h3>
          <a href="#"> More </a> &#127860;
        </div>

        <div class="recommended-image">
          <div>
            <img
              loading="lazy"
              src="../../public/images/restaurant-placeholder.jpg"
              width="387"
              height="493"
              alt="recommended skeleton"
            />
          </div>
          <h3>Rec. Menu</h3>
          <a href="#"> More </a> &#127860;
        </div>

        <div class="recommended-image">
          <div>
            <img
              loading="lazy"
              src="../../public/images/restaurant-placeholder.jpg"
              width="387"
              height="493"
              alt="recommended skeleton"
            />
          </div>
          <h3>Rec. Menu</h3>
          <a href="#"> More </a> &#127860;
        </div>

        <div class="recommended-image">
          <div>
            <img
              loading="lazy"
              src="../../public/images/restaurant-placeholder.jpg"
              width="387"
              height="493"
              alt="recommended skeleton"
            />
          </div>
          <h3>Rec. Menu</h3>
          <a href="#"> More </a> &#127860;
        </div>

      </div>
    </div>
  </section>